.categories .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 1.5rem
}
.categories .box{
  background: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  text-align: center;
  outline: var(--outline);
  outline-offset: -1rem;
}
.categories .box:hover{
  outline-offset: 0;
  outline: var(--outline-hover);
}
.categories .box img{
  height: 15rem;
  margin: 1rem 0;
  width:200px;
}
.categories .box h3{
  font-size:2rem;
  line-height:1.8;
  color: var(--black);
}
