.footer {
  background: #fff;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
}
.footer .box-container h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding: 1rem 0;
}
.footer .box-container h3 i {
  margin-left: 1rem;
  color: var(--orange);
}
.footer .box-container p {
  line-height: 1.8;
  font-size: 14px;
  color: var(--light-color);
  margin: 1rem 0;
}
.footer .box-container .links {
  display: block;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}
.footer .box-container #emailLink {
  text-transform: none;
}
.footer .box-container .links i {
  color: var(--orange);
  padding-right: 0.5rem;
}
.footer .box-container .links:hover i {
  padding-right: 2rem;
}
.footer .box-container button:hover {
  background: var(--orange);
}
.footer .box-container img {
  margin-top: 2rem;
  height: 200px;
  display: block;
}
.footer .credits {
  text-align: center;
  margin: 1rem 0;
  padding: 3rem 0;
  border-top: var(--border);
  font-size: 2rem;
  color: var(--black);
}
.footer .credits span {
  color: var(--orange);
}
