.header .navbar a {
  display: inline-block;
  color: #2C061F;
  font-size: 24px;
  margin: 20px;
}
.header .navbar.active {
  right: 2rem;
}
.header .navbar a:hover {
  color: white;
}

@media (max-width: 768px) {
  .header {
    position: relative;
  }
  .header .icons #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    background: #2C061F;
    border-radius: 0.5rem;
  }
  .header .navbar a {
    display: block;
    font-size: 2rem;
    margin: 2rem 2.5rem;
  }
}
